---
import Main from "../layouts/MainLayout.astro";
const title = "Présentation";
const subTitle = "Qui suis-je ?";
---

<Main title={title} subTitle={subTitle}>
  <div class="article-wrapper">
    <div class="article prose max-w-none">
      <p>Je suis Philippe, dépannage informatique et coaching digital autour de Vesoul…</p>
    </div>
  </div>
</Main>