---
import { Icon } from "astro-icon/components";
import YukinaConfig from "../../yukina.config";
import { i18n } from "../locales/translation";
import I18nKeys from "../locales/keys";
import { GetCategories, GetTags } from "../utils/content";

const categories = await GetCategories();
const tags = await GetTags();

const categoryKeys = [...categories.keys()];
const tagKeys = [...tags.keys()];
---


  <!-- Site footer -->
  <footer>
    <div
      class="divide-y divide-dashed divide-black/25 py-4 lg:pt-0 dark:divide-white/25"
    >
      <div></div>
      <div></div>
    </div>
    <div
      class="flex w-full flex-col items-center text-sm text-[var(--text-color-lighten)]"
    >
      
      <p>
        <a class="link" href={new URL("sitemap-index.xml", YukinaConfig.site)}
          >SiteMap</a
        > / <a class="link" href="/rss.xml">RSS</a>
      </p>
    </div>
  </footer>
</div>

<style>
  .link {
    @apply text-[var(--primary-color)] transition-all hover:brightness-110;
  }

  .category {
    font-family: var(--primary-font);
  }

  .category:hover > p {
    @apply pl-2 text-[var(--primary-color)];
  }
</style>
