---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  canonical?: string;
  noindex?: boolean;
}

const props = Astro.props;
---

<html lang={YukinaConfig.locale}>
  <head>
    <BaseHead {...props} />
  </head>
  <body class="overflow-y-hidden">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
    overflow-x: hidden;
  }
  html {
    overflow-x: hidden;
  }
</style>
